.jobs-background {
  min-height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
}
* {
  color: white;
}
.list-employment {
  margin: 0%;
  padding-left: 0%;
}
.each-job {
  margin-bottom: 20px;
  background-color: #2c364c;
  padding: 20px;
  border-radius: 6px;
}

.index-container {
  padding-top: 20px;
  height: 100vh;
  padding-left: 4vw;
  width: 22vw;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  margin-right: 10px;
  text-decoration: none;
}
.profile-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 210px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-pic {
  height: 90px;
  width: 90px;
  border: 10px solid goldenrod;
  border-radius: 90px;
}
.username {
  color: blueviolet;
}
.bio {
  color: black;
}
.search-container {
  display: flex;
  width: 50%;
  padding-top: 20px;
  padding-left: 40px;
}
input {
  width: 50%;
  font-size: large;
}
.searchButton {
  display: inline-block;
}
.content-container {
  padding-left: 3vw;
}
.company-logo {
  height: 70px;
  width: 70px;
}
.title-container {
  display: flex;
  align-items: center;
}
.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
