.home-background {
  height: 91vh;
  width: 100vw;
  background-image: url(https://assets.ccbp.in/frontend/react-js/home-lg-bg.png);
  background-size: cover;
  margin-top: 0px;
}
.content{
  padding-left: 50px;
  padding-top: 50px;
  font-size: larger;
}